@page "/player-index"

@inject PlayersService playersService
@inject NavigationManager navigationManager

<PageTitle>Player Registration</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card space-between">
            <h5 class="card-title">Player Registration</h5>
            <a href="/player-create" class="btn btn-primary mt-3">
                <span class="bi bi-plus-square"></span> Create
            </a>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="row align-items-center">
                    <input class="form-control col" placeholder="Filter by Name" @bind="FilterValue" />
                    <button class="btn btn-primary col-auto ms-2" @onclick="Search">Search</button>
                </div>
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th>PlayerId</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in players)
                        {
                            <tr>
                                <td>@player.PlayerId</td>
                                <td>@player.Concept</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="card-footer space-between">
                    <label>Count: @players.Count()</label>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Players> players { get; set; } = new List<Players>();

    public string FilterValue { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        players = await playersService.GetList(p => p.PlayerId > 0);
    }

    private async Task Search()
    {
        if (!string.IsNullOrWhiteSpace(FilterValue))
        {
            players = await playersService.GetList(p => p.Concept.ToLower().Contains(FilterValue.ToLower()));
        }
        else
        {
            players = await playersService.GetList();
        }
    }
}
